.page-container-sustainability-timeline {
  color: #2a9d8f;
  position: relative;
}

.home-sustainability-timeline {
  color: #2a9d8f;
}

.graph-title-sustainability-timeline {
}

.tooltip-sustainability-timeline {
  opacity: 0;
  position: absolute;
  border: 1.5px dotted #165049;
  box-shadow: 5px 5px 1px 1px rgba(22,80,73, 0.8) ;
  border-radius: 20px;
  top: 0;
  left: 0;
  padding: 0.8em;
  background: white;
  color: #403d39;
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;  
  width: 200px;
}

.tooltip-sustainability-timeline-title {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  margin-left: 3px; 
}

.tooltip-sustainability-timeline-pos {
  color: #2a9d8f;
}

.tooltip-sustainability-timeline-neg {
  color: #e76f51;
}

.tooltip-sustainability-timeline-info {
  display: block;
  font-size: 12px;
}

.mascot-sustainability-timeline {
  background-image: url("./鳩7.svg");
  width: 80px;
  height: 80px;
  position: absolute;
  top: 27px;
  right: 19%;
}

@media(max-width: 1400px) {
  .mascot-sustainability-timeline {
    top: 30;
    right: 13%;
  }
}
@media(max-width: 900px) {
  .mascot-sustainability-timeline {
    top: 33px;
    right: 3%;
    width: 70px;
    height: 70px;
  }
}
@media(max-width: 600px) {
  .mascot-sustainability-timeline {
    top: 43px;
    right: 5%;
  }
}