@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin: auto;
  background-color: #f2e9e4;
}

.page-container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
}


/* for the button with graph info */
.graph-explain-icon {
  padding: 2px;
  margin: 20px auto;
  text-align: center;
  width: 60px;
  height: 40px;
  border: 1px dotted white;
  border-radius: 10%;
  color: var(--darkest-purple);
  background-color: #f2e9e4;
  outline: none;
}

.info-span {
  margin-left: 7%;
}

.graph-explain-container {
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
}

/* links */
a {
  color: #293241;
  text-decoration: none;
}